/* NORMALIZAÇÃO DO CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER/LOGO */
html{
    padding: 20px 30px 20px 30px;
    background-color: white; 
}

body{
    background: linear-gradient(to left,#65A67D, #63347F, #760EB4);
    overflow-x: hidden;
    border-radius: 20px;
    box-shadow: 2px solid black;
    height: 90vh;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.circulo_maior{
    background-color: #452273;
    padding: 15px 10px 0px 10px;
    border-radius: 60px;
    margin-left: -130px;
    position: relative;
    bottom: 25px;
}
  
h1{
    background-color: #B256E0;
    border-radius: 30px;
    font-size: 45px;
    font-weight: 500;
    font-style: italic;
}
  
.logo{
    background:#703BB5;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
    border-radius: 43px;
    position: relative;
    width: 80px;
    height: 75px;
    cursor: pointer;
    transition: color 2s;
}
  
.logo a{
    text-decoration: none;
    color: white;
    transition: color 2s;
}

.logo a:hover{
    color: #e2a9ff;
}

/* VIDEO */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main video{
    width: 80vw;
    height: 70vh;
}